@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width:80%;
    margin:0 auto;
    

}
#banner_part{
    display: flex;
    justify-content: space-between;
    

}
.banner_text h1{
    font-size: 52px;
}
.banner_text span{
    display: block;
}
.banner_text p{
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 16px;
    width: 400px;
}
.button_part{
    border-radius: 41px;
    background: #E02C6D;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 24px;
    margin-top: 16.1px;
    border: 0;
}
.banner_img img{
    width: 85%;
    border: 2px solid rgba(22, 18, 18, 0.123);
    border-radius: 50%;
    padding: 4px;
}
/* ============== common css end ============ */
.collection{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 15px;
    border-radius: 10px;
}

.collection_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.collection_title h2{
    font-size: 28px;
    color: #3A3A3A;
}
.collection_img img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.collection_detail h2{
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
}
.collection_detail h3{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87)
}
.star i {
    font-size: 12px;
    color: orange;
}
.star span{
    font-size: 14px;
    color: #5E6366;
}
.collection_detail p{
    font-size: 14px;
    color: #787885;
}
.collection_detail p span{
    display: block;
}
.collection_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
    grid-column-gap:30px;
}
.see_more{
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    display: block;
    text-align: right;
    padding-top: 100px;
    
}

/* ============== collection part end ============ */


.footer_part{
background: rgb(2, 2, 36);
    text-align: center;
    padding: 30px 0;
    color: #FFFFFF;
}
.footer_text h2{
    font-size: 24px;
}
p{
    font-size: 14px;
}
p span{
    display: block;
    font-size: 14px;
}
.footer_icon{
    margin-top: 17px;
}
.footer_icon i{
    margin-left: 16px;
}
/* ============== footer part end ============ */
