@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: none;
    display: inline-block;
}
.container{
    width:80%;

}
ul,ol,li{
    list-style: none;
}
nav,
section,
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
section {
    margin-bottom: 70px;
}
/* ==== common css end ======= */
.menu_part{
    padding: 20px 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}
.menu_cont {
    display: flex;
}
.menu_login {
    flex-basis: 50%;
}
.menu_login a {
  
    line-height: 44px;
    text-align: center;
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    color: black;
    padding: 0 10px;
}
.menu_login ul a i {
    padding-right: 10px;
}
.main_menu {
    flex-basis: 70%;
}
.main_menu ul {
    display: flex;
    justify-content: flex-end;
    line-height: 46px;
}
.main_menu ul li a {
    margin-right: 25px;
    color:black;
    font-weight: 500;
    font-size: 16px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.main_menu ul li a:hover {
    color: #E02C6D;
}
/* ==== menu end ====== */
.banner-part{
padding: 150px 0;
color:black;
}
.banner-inner {
display: grid;
grid-template-columns: 3fr 2fr;
}
.banner-text {
padding-top: 40px;
}
.banner-text h1 {
    color:black;
font-weight: 700;
font-size: 50px;
}
.banner-text h1 span {
display: block;
}
.banner-text p {
color:black;
width: 500px
}
.banner-img img {
width: 440px;
height: 411px;
padding: 15px;
border: 2px solid #f1f1f1;
border-radius: 50%;
transition: all linear 0.6s;
-webkit-transition: all linear 0.6s;
-moz-transition: all linear 0.6s;
-ms-transition: all linear 0.6s;
-o-transition: all linear 0.6s;
}
.banner-part:hover .banner_img img {
transform: scale(1.1);
-webkit-transform: scale(1.1);
-moz-transform: scale(1.1);
-ms-transform: scale(1.1);
-o-transform: scale(1.1);
}
.banner-btn {
display: flex;
flex-wrap: wrap;
}
.banner-btn a {
width: 179px;
height: 50px;
border-radius: 10px;
color: #fff;
background: #E02C6D;
border: 2px solid transparent;
line-height: 50px;
text-align: center;
font-size: 16px;
font-weight: 600;
margin-top: 30px;
transition: all linear 0.3s;
-webkit-transition: all linear 0.3s;
-moz-transition: all linear 0.3s;
-ms-transition: all linear 0.3s;
-o-transition: all linear 0.3s;
}
.banner-btn a i {
padding-left: 5px;
}
.banner-btn a:hover {
border: 2px solid #E02C6D;
box-shadow: 0 0 12px #E02C6D;
}
/* ======= banner end === */


#banner_part{
    display: flex;
    justify-content: space-between;
    

}
.banner_text h1{
    font-size: 52px;
}
.banner_text span{
    display: block;
}
.banner_text p{
    font-size: 16px;
    color: #3A3A3A;
    margin-top: 16px;
    width: 400px;
}
.button_part{
    border-radius: 41px;
    background: #E02C6D;
    font-size: 16px;
    color: #FFFFFF;
    padding: 10px 24px;
    margin-top: 16.1px;
    border: 0;
}
.banner_img img{
    width: 85%;
    border: 2px solid rgba(22, 18, 18, 0.123);
    border-radius: 50%;
    padding: 4px;
}
/* ============== common css end ============ */
.collection{
    box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px, rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
    padding: 15px;
    border-radius: 10px;
}

.collection_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}
.collection_title h2{
    font-size: 28px;
    color: #3A3A3A;
}
.collection_img img{
    width: 300px;
    height: 256px;
    border-radius: 5px;
}
.collection_detail h2{
    font-size: 28px;
    color: #18191F;
    margin-top: 16px;
}
.collection_detail h3{
    font-size: 24px;
    color: rgba(0, 0, 0, 0.87)
}
.star i {
    font-size: 12px;
    color: orange;
}
.star span{
    font-size: 14px;
    color: #5E6366;
}
.collection_detail p{
    font-size: 14px;
    color: #787885;
}
.collection_detail p span{
    display: block;
}
.collection_area{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap:30px;
    grid-column-gap:30px;
}
.see_more{
    font-size: 16px;
    color: rgba(224, 44, 109, 0.87);
    display: block;
    text-align: right;
    padding-top: 100px;
    
}

/* ============== collection part end ============ */

#contact_detail{
    margin: 40px 0;
}
.contact_title h3{
    margin-bottom: 20px;
    font-size: 25px;
}
.contact_area{
     text-align: center;
}
.contact_form{
    display: flex;
    justify-content: center;
}
.contact_form input{
    border: 2px solid black;
    border-radius: 10px;
    padding-left: 10px;
    margin-bottom: 20px;
    display:block;
    height: 40px;
    width:500px;

}
.message_part{
    height: 150px !important ;
}
.input_button{
    border: 0 !important;
    border-radius: 10px;
    color: white;
    background-color: #E02C6D;
    margin: 0 auto;
    display:inline-block;
    width: 110px !important;
}








 /* ================= contect part end ============== */

.footer_part{
background: rgb(2, 2, 36);
    text-align: center;
    padding: 30px 0;
    color: #FFFFFF;
}
.footer_text h2{
    font-size: 24px;
}
p{
    font-size: 14px;
}
p span{
    display: block;
    font-size: 14px;
}
.footer_icon{
    margin-top: 17px;
}
.footer_icon i{
    margin-left: 16px;
}
/* ============== footer part end ============ */


/*====================
Media Queries
 =====================*/
 /* mobile devices */
 @media only screen and (max-width: 688px) {
     
 }
 